<%-include("partials/header")%>
<div class="container-fluid push">
    <h3 style="width: 80%;" class="mx-auto mb-3">Customers</h3>
    <div class="card mx-auto" style="width: 80%;" >
        <ul class="list-group">
            <%customers.forEach((customer,i)=>{%>
                <li class="list-group-item">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-lg-0.5"> -->
                            <span class="card-title order-detail"><%=i+1%></span>&nbsp&nbsp
                        <!-- </div> -->
                        <!-- <div class="col-lg-10"> -->
                            <span class="card-title order-detail">Customer: </span> <span class="card-text"><%=customer.firstName%>  <%=customer.lastName%></span>
                            <span class="card-title order-detail">Email: </span><span class="card-text"><%=customer.email%></span>
                        <!-- </div> -->
                    <!-- </div> -->
                </li>
            <%})%>
        </ul>
    </div>
</div>

<%-include("partials/footer")%>