<%-include("../partials/header")%>
<div class="conatiner-fluid push mx-auto" style="width: 80%;">
    <div class="accordion" id="accordionExample">
        <div class="row mx-auto no-gutters">
            <!--Buttons display-->
            <div class="btn-group-vertical col-xs-2" role="group" aria-label="Profile tags">
                <button type="button" class="btn btn-secondary"  data-toggle="collapse" data-target="#collapseProfile" aria-expanded="false" aria-controls="collapseProfile">Profile</button>
                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOrders" aria-expanded="false" aria-controls="collapseOrders">Order History</button>
                <!-- <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseWishList" aria-expanded="false" aria-controls="collapseWishList">WishList</button> -->
                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseDeleteAccount" aria-expanded="false" aria-controls="collapseDeleteAccount">Delete Account</button>

            </div>
            
            <!-- Profile display-->
            <div class=" col-xs-10">
                <div class="collapse " id="collapseProfile" data-parent="#accordionExample">
                    <div class="card card-body mx-auto profile-card" >
                        <form action="/profile?_method=PUT" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-4.5">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%=user.firstName%>" required>
                                </div>
                                <div class="form-group col-md-4.5">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%=user.lastName%>" required>
                                </div>
                                <!-- <label class="form-check-label" >Gender</label> -->

                                <div class="form-check form-check-inline pt-3 ml-3">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="female" required>
                                    <label class="form-check-label" for="female">F</label>
                                </div>
                                <div class="form-check form-check-inline pt-3">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                                    <label class="form-check-label" for="male">M</label>
                                </div>
                                <div class="form-check form-check-inline pt-3">
                                    <input class="form-check-input" type="radio" name="gender" id="other" value="other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="registerEmail">Email</label>
                                <input type="email" class="form-control" id="registerEmail" value="<%=user.email%>" name="email" required>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="streetAddress">Street Address</label>
                                    <input type="text" class="form-control" id="streetAddress" name="address[streetAddress]" value="<%=user.address.streetAddress%>" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="number">Number (10 Numbers)</label>
                                    <input type="text" class="form-control" id="number" value="<%=user.number%>" name="number" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity" name = "address[city]" value="<%=user.address.city%>" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <input type="text" class="form-control" id="inputState" name = "address[state]"value="<%=user.address.state%>" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip (3 numbers)</label>
                                    <input type="text" class="form-control" id="inputZip" name = "address[zip]" value="<%=user.address.zip%>" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="subscribe">
                                    <label class="form-check-label" for="subscribe">
                                    Subscribe to receive our  latest products 
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" name="password" value="<%=user.password%>">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>    
                    </div>
                </div>

                <!-- Orders display-->
                <div class="collapse" id="collapseOrders" data-parent="#accordionExample">
                    <div class="card mx-auto profile-card" >
                        <div class=" card-body">
                            <div class="row no-gutters">
                                <!-- <div class="col-xs-2">
                                    <img src="<%=product.img%>" class="card-img" alt="https://miro.medium.com/max/880/0*H3jZONKqRuAAeHnG.jpg" style="width:100px;height:auto;">
                                </div> -->
                                <%if(orders.length===0){%>
                                    <h5 class="card-title">No purchase yet!</h5>  
                                <%}else{%>
                                    <%orders.forEach((order)=>{%>
                                        <div class="col-xs-10 pl-2">
                                            <h5 class="card-title">Purchase order no. <%=order._id%></h5>  
                                            <%order.products.forEach((product,i)=>{%>
                                                <span class="card-title order-detail">[<%=i+1%>]</span>
                                                <span class="card-title order-detail">Product name: </span> <span class="card-text"><%=product.productName%></span>
                                                <span class="card-title order-detail">Product ID: </span> <span class="card-text"><%=product.productId%></span>
                                                <span class="card-title order-detail">Color: </span> <span class="card-text">Blue</span>
                                                <span class="card-title order-detail">Size: </span> <span class="card-text">S</span>
                                                <span class="card-title order-detail">Amount: </span> <span class="card-text"><%=product.amount%></span>
                                                <span class="card-title order-detail">Price: </span> <span class="card-text"><%=product.net%></span>
                                                <br>
                                            <%})%>
                                            <span class="card-title order-detail">Purchase date: </span><span class="card-text"><%=order.purchaseTime%></span>
                                            <span class="card-title order-detail">Status: </span><span class="card-text"><%=order.status%></span>
                                            <span class="card-title order-detail">Expected Delivery date: </span><span class="card-text"><%=order.expectedDeliveryDate%></span>
                                            <br>
                                            <span class="card-title order-detail">Shipping Fee: </span><span class="card-text"><%=order.shipping%></span>
                                            <span class="card-title order-detail">Overall Price: </span><span class="card-text"><%=order.overall%></span>
                                            <br>
                                            <span class="card-title order-detail">First name: </span><span class="card-text"><%=user.firstName%></span>
                                            <span class="card-title order-detail">Last name: </span><span class="card-text"><%=user.lastName%></span>
                                            <span class="card-title order-detail">Shipping address </span><span class="card-text"><%=user.address.streetAddress%> <%=user.address.city%> <%=user.address.state%> (<%=user.address.zip%>)    </span>
                                            <span class="card-title order-detail">Number: </span><span class="card-text"><%=user.number%></span>
                                        </div>
                                    <%})%>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div><!--collapseOrder-->

                <!-- WishList display-->
                    <!-- <div class="collapse" id="collapseWishList" data-parent="#accordionExample">
                        <div class="card mx-auto profile-card" >
                            <div class=" card-body">
                                <div class="row no-gutters">
                                    <div class="col-xs-2">
                                        <img src="<%=product.img%>" class="card-img" alt="https://miro.medium.com/max/880/0*H3jZONKqRuAAeHnG.jpg" style="width:100px;height:auto;">
                                    </div>
                                    <div class="col-xs-10 pl-2"> 
                                        <span class="card-title order-detail">Product name: </span> <span class="card-text"><%=product.name%></span>
                                        <br>
                                        <span class="card-title order-detail">Product ID: </span> <span class="card-text">EAC4567865456789</span>
                                        <form><button type="submit" class=" btn btn-danger" >Add to cart</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                <!--collapseWishList-->

                <!-- Delete Account Display -->
                <div class="collapse" id="collapseDeleteAccount" data-parent="#accordionExample">
                    <div class="card mx-auto profile-card" >
                        <div class=" card-body">
                            <p>If you wish to delete your account, which will wipe all history orders, wishlist and products in your shopping cart, press the button</p>
                              <form style="display:inline;" action = "/profile?_method=DELETE" method = "POST" onsubmit = "return confirm('ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT?')">
                                <button type="submit" class="btn btn-danger" name="delete" value="true">Delete Account</button>
                            </form>
                        </div>
                    </div>
                </div><!--collapseWishList-->

            </div><!--col-->
        </div><!--row-->
    </div><!--accortion-->
</div><!--container-->

<script type="text/javascript">
    window.onload = function(){
        var gender = '<%=user.gender%>';
        var subscribe = '<%=user.subscribe%>'
        if(gender == 'female'){
            $("input[value=female]").prop("checked",true);
            // alert("female");
        }else if(gender == 'male'){
            $("input[value=male]").prop("checked",true);
            // alert("male!");
        }else{
            $("input[value=other]").prop("checked",true);
            // alert("other!");
        }
        if(subscribe == 'true'){
            $("#subscribe").prop("checked",true);
            // alert('Subscribed');
        }
    }
</script>
<%-include("../partials/footer")%>