<%-include("../partials/header")%>
<div class="container-fluid push">
    <h3 style="width:900px" class="mx-auto mb-3">Step 2 : Confirm Shipping Info</h3> 
    <div class="progress mx-auto mb-3" style="width: 900px;height:30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%">Confirming Shipping</div>   
    </div>
    <div class="card card-body mx-auto profile-card" >
        <h3>Shipping Address</h3>
        <hr class="mt-0">
        <form action="/purchase/success" method="post">
            <div class="form-row">
                <div class="form-group col-md-4.5">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%=user.firstName%>" required>
                </div>
                <div class="form-group col-md-4.5">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%=user.lastName%>" required>
                </div>
                <!-- <label class="form-check-label" >Gender</label> -->
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="streetAddress">Street Address</label>
                    <input type="text" class="form-control" id="streetAddress" name="address[streetAddress]" value="<%=user.address.streetAddress%>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="number">Number</label>
                    <input type="text" class="form-control" id="number" value="<%=user.number%>" name="number" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" name = "address[city]" value="<%=user.address.city%>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" name = "address[state]"value="<%=user.address.state%>" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name = "address[zip]" value="<%=user.address.zip%>" required>
                </div>
            </div>
            <h3 class="mt-3">Shipping Option</h3>
            <hr class="mt-0">
            <div class="form-check ml-3">
                <input class="form-check-input" type="radio" name="shippingOption" id="free" value="free" onclick = "shippingOption()" required>
                <label class="form-check-label" for="free">Free Shipping - Arriving after 2 weeks</label>
            </div>
            <div class="form-check pt-2 ml-3 mb-3">
                <input class="form-check-input" type="radio" name="shippingOption" id="express" value="express" onclick = "shippingOption()">
                <label class="form-check-label" for="express">Express($10)    - Arriving after 3 days</label>
            </div>
            <h3 class="mt-4">Billing</h3>
            <hr class="mt-0">
            <h4>Net Before Shipping : $ <%=netBeforeShipping%></h4>
            <h4>Shipping & Handling Fee : <span id="shippingFee"></span></h4>
            <h4>Order total : <span id="overall"></span></h4>
            <input type="hidden" name="shipping" id="shippingInput">
            <input type="hidden" name="overall" id="overallInput">
    
            <div class="form-check ml-3 mb-3">
                <input class="form-check-input" type="radio" name="billingOption" id="convenientStore" value="convenientStore" required>
                <label class="form-check-label" for="convenientStore">7-11 ibon pay</label>
            </div>
            <button type="submit" class="btn btn-info" style="width: 100%;">Purchase</button>
        </form>    
    </div>
</div>
<script>
    function shippingOption(){
        var netBeforeShipping = '<%=netBeforeShipping%>';
        var shippingFee=0;
        var overall = 0;
        if(document.getElementById('free').checked){
            shippingFee = 0;
            overall = parseInt(netBeforeShipping);
            document.getElementById('shippingFee').innerHTML ='$ '+ shippingFee;
            document.getElementById('overall').innerHTML = '$ '+ overall;
            $("#shippingInput").val(shippingFee);
            $("#overallInput").val(overall);
        }else{
            shippingFee = 10;
            overall = parseInt(netBeforeShipping)+shippingFee;
            document.getElementById('shippingFee').innerHTML = '$ '+shippingFee;
            document.getElementById('overall').innerHTML = '$ '+overall;
            $("#shippingInput").val(shippingFee);
            $("#overallInput").val(overall);
            // var overallInput = $("#overallInput")
            // overallInput.val(overall);
            // alert(overallInput.val());
        }
    } 
</script>
<%-include("../partials/footer")%>