<%-include("../partials/header")%>
<div class="container-fluid push">
    <div class="card mx-auto" style="width: 50%;">
        <div class="card-body">
            <h2 class="card-title text-center">Register</h2>
            <form action="/register" method="POST" onsubmit="return agreePolicy()">
                <div class="form-row">
                    <div class="form-group col-md-4.5">
                        <label for="firstName">First Name</label>
                        <%if(userInfo){%>
                            <input type="text" class="form-control" id="firstName" name="firstName" value = "<%=userInfo.firstName%>" required>
                        <%}else{%>
                            <input type="text" class="form-control" id="firstName" name="firstName" required>
                        <%}%>
                    </div>
                    <div class="form-group col-md-4.5">
                        <label for="lastName">Last Name</label>
                        <%if(userInfo){%>
                            <input type="text" class="form-control" id="lastName" name="lastName" value = "<%=userInfo.lastName%>" required>
                        <%}else{%>
                            <input type="text" class="form-control" id="lastName" name="lastName" required>
                        <%}%>
                    </div>

                    <!-- <div class="form-group col-md-3"> -->
                        <!-- <label for="gender">Gender</label> -->
                        <div class="form-check form-check-inline pt-3 ml-3" id="gender">

                            <input class="form-check-input" type="radio" name="gender" value="female" id="female" required>
                            <label class="form-check-label" for="female">F</label>
                        </div>
                        <div class="form-check form-check-inline pt-3">
                            <input class="form-check-input" type="radio" name="gender" value="male" id="male">
                            <label class="form-check-label" for="male">M</label>
                        </div>
                        <div class="form-check form-check-inline pt-3">
                            <input class="form-check-input" type="radio" name="gender"  value="other" id="other">
                            <label class="form-check-label" for="other">Other</label>
                        </div>
                    <!-- </div> -->
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <%if(userInfo){%>
                            <input type="email" class="form-control" id="email" name="email" value = "<%=userInfo.email%>" required>
                        <%}else{%>
                            <input type="email" class="form-control" id="email" name="email" required>
                        <%}%>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="streetAddress">Street Address</label>
                            <input type="text" class="form-control" id="streetAddress" placeholder="1234 Main St" name="address[streetAddress]" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number">Number</label>
                            <input type="text" class="form-control" id="number" placeholder="0920294010" name="number" required>
                        </div>
                    </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="address[city]" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="address[state]" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" name="address[zip]" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="agree" required>
                        <label class="form-check-label" for="agree">
                            I agree to the <a href="#">Policy</a>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="subscribe" name="subscribe" value="true">
                        <label class="form-check-label" for="subscribe">
                            Subscribe to receive our  latest products 
                        </label>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

<script>
    // function agreePolicy(){
    //     if(!document.getElementById('agree').checked){
    //         alert('You have to agree with the policy to move on.');
    //         return false;
    //     }else{
    //         alert('Register successfully!\nPlease login!');
    //         return true;
    //     }
    // }
</script>
<%-include("../partials/footer")%>