<%-include("../partials/header")%>
<div class="container-fluid push">
    <!-- Using grid -->
    <div class="container">
        <div class="row">
            <%products.forEach((product)=>{%>
                <div class="col-lg-4 col-sm-6">
                        <a href = "/products/<%=product.productId%>" class="anchor">
                            <div class="card text-center" >  
                                <img src="<%=product.img%>" class="card-img-top" alt="讀取失敗QQ">
                                <div class="card-body">
                                <h5 class="card-title"><%=product.productName%></h5>
                                <p class="card-text"><%=product.description%></p>
                                <a href="/products/<%=product.id%>" class="btn btn-primary">Purchase</a>
                                </div>
                            </div>
                        </a>
                </div>
            <%});%>
        </div>
    </div>
</div>
<%-include("../partials/footer")%>