<%-include("../partials/header")%>
<div class="container-fluid push">
    <div class="card mb-3  mx-auto" style="width: 65em;" >
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="<%=product.img%>" class="card-img mt-4 pl-3 mb-4" alt="Ooops! There must be some mistake!">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2 class="card-title text-center mt-4"><%=product.productName%></h2>
              <p class="card-text text-muted mb-0">Description</p>
              <p class="card-text showcard mb-0"><%=product.description%></p>
              <p class="card-text" style="font-size: 3em">$ <%=product.price%></p>

              <form method="POST" action="/cart" onsubmit="return checkAmount()">
                <input type = "hidden" name = "cart[productName]" value = "<%=product.productName%>" />
                <input type = "hidden" name = "cart[productId]" value = "<%=product.productId%>" />
                <input type = "hidden" name = "cart[img]" value = "<%=product.img%>" />
                <input type = "hidden" name = "cart[price]" value = "<%=product.price%>" />
                <%if(product.sizeOption!='oneSize'){%>
                <p class="card-text text-muted mb-1" >Select a size</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <%if(product.sizeOption=='cloth'){%>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = 'S' value="S" required> S
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = 'M' value="M"> M
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = 'L' value="L"> L
                    </label>
                  <%}else{%>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '8' value="8" required> 8
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '8_5' value="8_5"> 8.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '9' value="9"> 9
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '9_5' value="9_5"> 9.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '10' value="10"> 10
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '10_5' value="10_5"> 10.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" id = '11' value="11"> 11
                    </label>
                  <%}%>
                </div>
                <%}else{%>
                  <input type="hidden" name="cart[size]" value="F">
                <%}%>
                <p class="card-text text-muted">Select quantity</p>
                <div class="form-group">
                  <select class="mb-3 form-control" required  style="width:50%" name="cart[amount]">
                    <option value="">Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              

                <button type="button" class="btn btn-outline-danger"><i class="far fa-heart"></i> Wishlist</button>
                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-shopping-cart"></i> Add to cart</button>
              </form>
              <p class="card-text text-muted mb-0 text-right">Product_Id <%=product.productId%></p>
            </div>
          </div>
        </div>
      </div>
</div>
<script>
  function alertion(inventory){
    var purchaseAmount=$('select').val();
    if(purchaseAmount>inventory){
        alert("There's only "+inventory+" left in inventory.\n Please reselect amount.");
        return false;
      }else{
        alert('Added into cart!');
        return true;
      }
  }

  function checkAmount(){
    var sizeOption = '<%=product.sizeOption%>';
    // alert(sizeOption);
    if(sizeOption == 'oneSize'){
      return checkOneSize();
    } 
    else if(sizeOption=='cloth'){
      return checkCloth();
    }
    else if(sizeOption == 'shoes'){
      return checkShoes();
    }
  }
  
</script>

<script>
  function checkOneSize(){
    var inventory = <%=product.size['F']%>;
    return alertion(inventory);
  };
</script>

<script>
  function checkCloth(){
    if(document.getElementById('S').checked){
        var inventory = <%=product.size['S']%>;
        return alertion(inventory);
      } else if(document.getElementById('M').checked){
        var inventory = <%=product.size['M']%>;
        return alertion(inventory);
      }else if(document.getElementById('L').checked){
        var inventory = <%=product.size['L']%>;
        return alertion(inventory);
      }
  };
</script>

<script>
  function checkShoes(){
    if(document.getElementById('8').checked){
      var inventory = <%=product.size["8"]%>;
      return alertion(inventory); 
    }else if(document.getElementById('8_5').checked){
      var inventory = <%=product.size["8_5"]%>;
      return alertion(inventory);
    }else if(document.getElementById('9').checked){
      var inventory = <%=product.size["9"]%>;
      return alertion(inventory);
    }else if(document.getElementById('9_5').checked){
      var inventory = <%=product.size["9_5"]%>;
      return alertion(inventory);
    }else if(document.getElementById('10').checked){
      var inventory = <%=product.size["10"]%>;
      return alertion(inventory);
    }else if(document.getElementById('10_5').checked){
      var inventory = <%=product.size["10_5"]%>;
      return alertion(inventory);
    }else if(document.getElementById('11').checked){
      var inventory = <%=product.size["11"]%>;
      return alertion(inventory);
    }
  }
</script>



<%-include("../partials/footer")%>