<%-include("../partials/header")%>
<div class="container-fluid push">
    <div class="card mb-3  mx-auto" style="width: 65em;" >
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="<%=product.img%>" class="card-img mt-4 ml-1" alt="Ooops! There must be some mistake!">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2 class="card-title text-center mt-4"><%=product.productName%></h2>
              <p class="card-text text-muted mb-0">Description</p>
              <p class="card-text showcard mb-0"><%=product.description%></p>
              <p class="card-text" style="font-size: 3em">$ <%=product.price%></p>

              <form method="POST" action="/cart">
                <input type = "hidden" name = "cart[productName]" value = "<%=product.productName%>" />
                <input type = "hidden" name = "cart[productId]" value = "<%=product.productId%>" />
                <input type = "hidden" name = "cart[img]" value = "<%=product.img%>" />
                <%if(product.size!=undefined){%>
                <p class="card-text text-muted mb-1" >Select a size</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <%if(product.size.S!=undefined){%>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="S" required> S
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="M"> M
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="L"> L
                    </label>
                  <%}else{%>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="8" required> 8
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="8.5"> 8.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="9"> 9
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="9.5"> 9.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="10"> 10
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="10.5"> 10.5
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="cart[size]" value="11"> 11
                    </label>
                  <%}%>
                </div>
                <%}%>
                <p class="card-text text-muted">Select quantity</p>
                <div class="form-group">
                  <select class="mb-3 form-control" required  style="width:50%" name="cart[amount]">
                    <option value="">Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              

                <button type="button" class="btn btn-outline-danger"><i class="far fa-heart"></i> Wishlist</button>
                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-shopping-cart"></i> Add to cart</button>
              </form>
              <p class="card-text text-muted mb-0 text-right">Product_Id <%=product.productId%></p>
            </div>
          </div>
        </div>
      </div>
</div>
<script>
  $('h2').text()
</script>

<%-include("../partials/footer")%>