<%-include("../partials/header")%>
<div class="container-fluid">
    <div class="card mb-3  mx-auto" style="width: 65em;" >
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="<%=product.img%>" class="card-img mt-4 ml-1" alt="Ooops! There must be some mistake!">
          </div>
          <div class="col-md-7">
            <div class="card-body">
                <form method="POST" action="/admin/products/<%=product.productId%>?_method=PUT" style="display: inline;">
                    <p>
                        <span class="card-text text-muted mb-0">Product Name:</span>
                        <input type="text" name="productName" value="<%=product.productName%>" required>
                    </p>
                    <p>
                        <span class="card-text text-muted mb-0">Product ID:</span>
                        <input type="text" name="productId" value="<%=product.productId%>" required>
                    </p>
                    <p class="card-text text-muted mb-0">Description</p>
                        <textarea name="description" required><%=product.description%></textarea>
                    <p>
                        <span class="card-text text-muted mb-0">Price</span>
                        <input type="number" name="price" value="<%=product.price%>" required>
                    </p>
                    <p>
                        <span class="card-text text-muted mb-0">Image URL</span>
                        <input type="string" name="img" value="<%=product.img%>" required>
                    </p>
                    <p>
                        <span class="card-text text-muted mb-0">Category : </span>
                        <input type="radio" name="category" value="outfit" required> Outfit
                        <input type="radio" name="category" value="accessory"> Accessory
                    </p>
                    <p>
                        <span class="card-text text-muted mb-0">Size Option : </span>
                        <input type="radio" name="sizeOption" value="oneSize"required> One Size
                        <input type="radio" name="sizeOption" value="cloth"> Cloth
                        <input type="radio" name="sizeOption" value="shoes"> Shoes

                    </p>
                    

                    <%if(product.sizeOption == 'oneSize'){%>
                        <p>
                            <span class="card-text text-muted mb-0">Amount</span>
                            <input type="number" name="size[F]" class="oneSize" value="<%=product.size['F']%>" min=0 required>
                        </p>
                    <%}else{%>
                        <%if(product.sizeOption == 'cloth'){%>        
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">S</th>
                                        <th scope="col">M</th>
                                        <th scope="col">L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="pr-0">Amount</th>
                                        <td><input type="number" style="width: 3em" name="size[S]" value="<%=product.size.S%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[M]" value="<%=product.size.M%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[L]" value="<%=product.size.L%>" min=0 required></td>
                                    </tr>
                                </tbody>
                            </table>
                        <%}else{%>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">8</th>
                                        <th scope="col">8.5</th>
                                        <th scope="col">9</th>
                                        <th scope="col">9.5</th>
                                        <th scope="col">10</th>
                                        <th scope="col">10.5</th>
                                        <th scope="col">11</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="pr-0">Amount</th>
                                        <td><input type="number" style="width: 3em" name="size[8]" value="<%=product.size['8']%>" min=0  required></td>
                                        <td><input type="number" style="width: 3em" name="size[8_5]" value="<%=product.size['8_5']%>" min=0  required></td>
                                        <td><input type="number" style="width: 3em" name="size[9]" value="<%=product.size['9']%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[9_5]" value="<%=product.size['9_5']%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[10]" value="<%=product.size['10']%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[10_5]" value="<%=product.size['10_5']%>" min=0 required></td>
                                        <td><input type="number" style="width: 3em" name="size[11]" value="<%=product.size['11']%>" min=0 required></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        <%}%>
                    <%}%>
                    <p class="mt-3">
                        <span class="card-text text-muted mb-0">Last Modified:<%=product.lastModified%></span>
                        <input type="hidden" name="lastModified" value="<%=product.lastModified%>">
                    </p>
                    <button type="submit" class="btn btn-dark"><i class="fas fa-save"></i> Save Modification</button>
                </form>
                <form onsubmit="return confirm('Do you really want to delete the product?');" action="/admin/products/<%=product.productId%>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger" class="fas fa-trash-alt"></i> Delete Product</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>

<script type="text/javascript">
    window.onload = function(){
        var sizeOption = '<%=product.sizeOption%>'
        var category = '<%=product.category%>'
        if(category == 'outfit'){
            $("input[value=outfit]").prop("checked",true);
            // alert("outfit!");
        }else{
            $("input[value=accessory]").prop("checked",true);
            // alert("accessory!");
        }

        if(sizeOption == 'oneSize'){
            $("input[value=oneSize]").prop("checked",true);
            $("input[value=cloth]").prop("disabled",true);
            $("input[value=shoes]").prop("disabled",true);
        }else if(sizeOption == 'cloth'){
            $("input[value=cloth]").prop("checked",true);
            $("input[value=oneSize]").prop("disabled",true);
            $("input[value=shoes]").prop("disabled",true);
            // alert("Cloth!");
        }else{
            $("input[value=shoes]").prop("checked",true);
            $("input[value=oneSize]").prop("disabled",true);
            $("input[value=cloth]").prop("disabled",true);
            // alert("Shoes!");
        }
        
    }
</script>
<%-include("../partials/footer")%>