<%-include("../partials/header")%>
<div class="container-fluid push">
    <h3 style="width:900px" class="mx-auto mb-3">Step 1 : Confirm Cart Products</h3>
    <div class="progress mx-auto mb-3" style="width: 900px;height:30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">Confirming Products</div>   
    </div>
    <div class="card mx-auto profile-card" >
        <%var outOfStock = false%>
        <%var exist = true%>
        <%cart.forEach((product,i)=>{%>
            <!-- <hr> -->
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-lg-2">
                        <img src="<%=product.img%>" class="card-img" alt="Ooops! There must be something wrong!">
                    </div>
                    <div class="col-lg-10 pl-4"> 
                        <span class="card-title order-detail">Product name: </span> <span class="card-text"><a href = "/products/<%=product.productId%>" class="anchorNormal"><%=product.productName%></a></span>
                        <br>
                        <span class="card-title order-detail">Product ID: </span> <span class="card-text"><%=product.productId%></span>
                        <br>
                        <span class="card-title order-detail">Size: </span> <span class="card-text"><%=product.size%></span>&nbsp;&nbsp;

                        <span class="card-title order-detail">Amount: </span> <span class="card-text"><%=product.amount%></span>
                        <%if(product.outOfStock){%>
                            <span id="outOfStock"><b>(Out Of Stock! Please reselect amount or delete!)</b></span>
                        <%outOfStock = true;}%>
                        <%if(!product.exist){%>
                            <span id="exist"><b>(Product doesn't exist! Please delete!)</b></span>
                        <%exist = false;}%>
                        <br>
                        <span class="card-title order-detail">Price: </span> <span class="card-text">$ <%=product.price%></span>&nbsp;&nbsp;
                        <span class="card-title order-detail">Net: </span> <span class="card-text">$ <%=product.net%></span>
                        
                        <br>
                        <button class="btn btn-info"><a href = "/products/<%=product.productId%>" class="anchorInfo">Show Info</a></button>
                        <form method="POST" action="/cart?_method=DELETE" style="display: inline;">
                            <input type="hidden" name="deleteIndex" value="<%=i%>">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>    
        <%})%>
        <div class="card-body">
            <h4 style="text-align: left;">Net Before Shipping : </h4>
            <h4 style="text-align: right;"><span>$<%=user.netBeforeShipping%></span></h4>
            <a href = "/purchase/info" class="anchorInfo mt-3"><button class="btn btn-info next" style="width: 100%;">Next</button></a>
        </div>


    </div>
</div>
<script type="text/javascript">
    window.onload = function(){
        let outOfStock = '<%=outOfStock%>';
        let exist = '<%=exist%>';
        if(outOfStock == 'true'){
            $("button.next").html('Out Of Stock');
            $("button.next").prop("disabled",true);
        }else{
            $("button.next").html('Next');
            $("button.next").prop("disabled",false);
        }
        if(exist == 'false'){
            $("button.next").html("Product doesn't exist");
            $("button.next").prop("disabled",true);
        }else{
            $("button.next").html('Next');
            $("button.next").prop("disabled",false);
        }
    }
</script>
<%-include("../partials/footer")%>